CamstarPortal/assets/schema/aw-command-sub-panel.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified"  xmlns:xsB="decl-schema-common" >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="aw-command-sub-panel">
    <declUI:complexType>
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="panel-id" type="declUI:string" use="required"/>
      <declUI:attribute name="isolate-mode" type="declUI:string" use="optional"/>
      <declUI:attribute name="caption" type="declUI:string" use="optional"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>