CamstarPortal/assets/schema/aw-command.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsB="decl-schema-common" >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="aw-command">
    <declUI:complexType>
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="command" type="declUI:string" use="required"/>
      <declUI:attribute name="show-label" type="declUI:string" use="optional"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>