CamstarPortal/assets/schema/aw-list-command.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified"  xmlns:xsB="decl-schema-common" >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="aw-list-command">
    <declUI:complexType>
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="command" type="declUI:string" use="required"/>
      <declUI:attribute name="vmo" type="declUI:string" use="required"/>
      <declUI:anyAttribute processContents="lax"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>