CamstarPortal/assets/schema/aw-navigate-breadcrumb.xsd

<declUI:schema xmlns:declUI="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsB="decl-schema-common" >
  <declUI:import namespace="decl-schema-common" schemaLocation="decl-schema-common.xsd"/>
  <declUI:element name="aw-navigate-breadcrumb">
    <declUI:complexType mixed="true">
      <declUI:group ref="xsB:addElement"/>
      <declUI:attribute name="provider" type="declUI:string" use="required"/>
      <declUI:attribute name="breadcrumb-config" type="declUI:string" use="required"/>
      <declUI:attribute name="compact" type="declUI:string" use="optional"/>
    </declUI:complexType>
  </declUI:element>
</declUI:schema>
